.sidebar {
  min-height: 100vh;
  width: 250px;
}

.notifications-section {
  .icon {
    font-size: 1.5rem;
  }

  .user-image {
    width: 40px;
  }
}

.new-notifications {
  font-size: 0.5rem;
  position: relative;
  left: -1.65rem;
  top: -0.6rem;
}

.content-area {
  background-color: #eee;
}

.pagination-buttons {
  margin-top: -7px;
}
