<div class="row">
  <nav class="bg-transparent sidebar border-right col-auto" aria-label="">
    <div class="sidebar-sticky">
      <div class="logo d-flex justify-content-center my-5 cursor-pointer" (click)="navigateToDashboard()">
        <img [src]="logoUrl" alt="logo" class="w-50">
      </div>
      <ul class="nav flex-column">
        <app-nav-link *ngFor="let item of navLinks" [link]="item"></app-nav-link>
      </ul>
    </div>
  </nav>

  <main role="main" class="col">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom py-2 no-gutters">
      <div class="dashboard-title px-4 d-flex align-items-center">
        <h2 class="h5 p-0 m-0">{{currentViewPlaceholder | titlecase}}</h2>
      </div>
      <div class="notifications-section d-flex align-items-center">
        <div class="comments">
          <i class="far fa-comments icon mx-3 mt-2"></i>
        </div>
        <div class="notifications">
          <i class="far fa-bell icon mx-3 mt-2"></i>
          <span class="badge badge-pill badge-danger new-notifications">&nbsp;</span>
        </div>
        <div class="user">
          <img [src]="userImageUrl" alt="" class="img-fluid user-image mx-5">
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between align-items-center border-bottom px-4 py-2">
      <div class="pagination mt-2 pt-1" *ngIf="showPagination">
        <p class="mx-4 mb-0 cursor-pointer" (click)="navigateToDashboard()">
          <i class="fas fa-chevron-left mr-2"></i> Back
        </p>
        <p class="mx-5 mb-0">Total: &nbsp; {{totalCount}}</p>
        <p class="mx-5 mb-0">Showing: &nbsp; {{currentStart}} to {{currentEnd}} of {{totalCount}}</p>
        <div class="pagination-buttons">
          <button class="btn btn-transparent" [disabled]="currentStart === 1" (click)="loadPreviousPage()">
            <i class="fas fa-chevron-left mx-2"></i></button>
          <button class="btn btn-transparent" [disabled]="currentEnd === totalCount" (click)="loadNextPage()">
            <i class="fas fa-chevron-right mx-2"></i></button>
        </div>
      </div>
      <div class="mt-2 pt-1" *ngIf="!showPagination"></div>
      <div class="sort-dropdowns d-flex" *ngIf="!showPagination">
        <div class="dropdown mx-2">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true"
            aria-expanded="false" (click)="toggleYearDropdown()">
            <span class="text-muted">Current Year</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="showYearDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>

        <div class="dropdown mx-2">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" aria-haspopup="true"
            aria-expanded="false" (click)="toggleYearDropdown()">
            <span class="text-muted">Current Week</span>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" *ngIf="showYearDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="search mr-4" *ngIf="showPagination">
        <div class="my-2">
          <input type="text" class="form-control" id="searchForm" placeholder="Search for {{currentViewPlaceholder}}"
            (keyup.enter)="searchRecords()" [(ngModel)]="searchTerm">
        </div>
      </div>
    </div>

    <div class="row content-area p-5">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>